#pancard {
    display: none;
}
#pancard input {
    width: 50%;
}
.flip-card {
background-color: transparent;
width: 100%;
height: 200px;
perspective: 1000px;
margin-bottom: 20px;
}

.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.6s;
transform-style: preserve-3d;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:focus {
outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner{
transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
}
.flip-card-front h3,
.flip-card-back h3{
color: #000;
}
.flip-card-back  a {
font-weight: 700;
color: #000;
}
.flip-card-back p{
    color: #000;  
}
.flip-card-back p a{
    color: #000;
}
.flip-card-back  a:hover,.flip-card-back p a:hover{
   color: #89d700;
}
.flip-card-front {
background: linear-gradient(to left, #F5F5DC, #F5F5DC);
color: #fff;
z-index: 2;
display: flex;
justify-content: center;
align-items: center;
}

.flip-card-back {
background: linear-gradient(to right, #F5F5DC, #F5F5DC);
color: white;
transform: rotateY(180deg);
z-index: 1;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding: 10px;
}

.footerImage {
    height: 300px;
    width: 100%;
    overflow: hidden;
}
.contact__box .single-contact-form.name input,
.contact__box .single-contact-form.name select {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin: 0 15px;
}
.contact__box .single-contact-form input, 
.contact__box .single-contact-form select {
  border: 1px solid #eeeeee;
  color: #666666;
  height: 45px;
  padding: 0 40px;
  width: 100%;
}
.formGreet {
    display: none;
    text-align: center;
    margin: 50px 0 0;
}
.formGreet h3 {
    font-size: 40px;
}
.formGreet p {
    font-size: 16px;
    margin-top: 10px;
}
.cs-pad-20 {
    padding: 0 20px;
    width: 100%;
}